.ticket {
    width: 502px;
    height: 184px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px #DFE5EC solid;
    border-radius: 7px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.price {
    color: #2196F3;
    font-size: 24px;
}