.stops-filter-list {
  width: 232px;
  height: 252px;
  background-color: #ffffff;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px #dfe5ec solid;
  border-radius: 7px;
  padding-left: 20px;
  padding-top: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-right: 20px;
}
